.dark {
  color: white;
  background-color: #015578;
}

li {
  list-style: none;
}

/* .job-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-name {
  width: 200px;
  display: inline-block;
} */
